{% extends "base.html" %}

{% block title %}Generate for {{ schema.name }}{% endblock %}

{% block content %}
<div class="list-generated">
    {% for dataset in schema.generated_data.all %}
        <div>
            <p>Number records: {{ dataset.num_records }}</p>
            {% if dataset.file %}
            <p>Status: completed </p> 
            <p><a href="{{ dataset.file.url }}">Load file</a></p>
            {% else %}
            <p>Status: not completed </p> 
            {% endif %}
             
        </div>
    {% endfor %}
</div>

<div>
    <form action="{% url 'schema:datasets' schema.pk %}" method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <button type="submit" id="schemaSubmitBtn">Submit</button>
    </form>
    
</div>   

{% endblock %}