{% extends "base.html" %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<div class="container">
<form action="" method="POST" id="schemaForm">
    <h2>New schema</h2>
    {% bootstrap_button id="schemaSubmitBtn" button_type="submit" content="Submit" extra_classes="float-end" %}
    {% bootstrap_form form %}
    {% csrf_token %}
    <div id="schemaFields">
        <h2>Schema columns</h2> 
        {% for fieldForm in form.field_forms %}
            <div class="border rounded p-2 my-1">
                <h5 class="d-inline-block">{{ fieldForm.label }} field</h3>
                <a href="#" class="text-decoration-none text-reset fs-5 d-inline-block float-end" onClick="this.parentElement.remove();">Delete</a>
                {% bootstrap_form fieldForm %}
            </div>
        {% endfor %}
    </div>
    
</form>


<form id="fieldSelectorForm" class="border rounded p-2"> 
    {% bootstrap_form fieldSelectForm layout="horizontal" %}
    {% bootstrap_button id='addFieldBtn' button_type="submit" content="Add Field" %}
</form>
</div>

{% for fieldName, fieldForm in form.fieldFormsTemplates.items %}
    <div class="border rounded p-2 my-1" id="{{ fieldName }}_fieldType" style="display: none;">
        <h5 class="d-inline-block">{{ fieldForm.label }} field</h3>
        <a href="#" class="text-decoration-none text-reset fs-5 d-inline-block float-end" onClick="this.parentElement.remove();">Delete</a>
        {% bootstrap_form fieldForm %}
    </div>
{% endfor %}


<script>
    'use strict';

    let schemaFieldsDiv = document.getElementById('schemaFields')

    document.getElementById('addFieldBtn').addEventListener('click', function(target) {
        target.preventDefault()

        // get new field config
        let fieldSelectorData = new FormData(document.getElementById('fieldSelectorForm'))
        let selectedType = fieldSelectorData.get('type');
        let fieldName = fieldSelectorData.get('name');
        let fieldOrder = fieldSelectorData.get('order');

        // get new field
        let fieldForm = document.getElementById(selectedType + '_fieldType').cloneNode(true)
        fieldForm.removeAttribute('id')
        fieldForm.style.display = ""

        // set field's name and order
        fieldForm.querySelector('input[name="name"]').value = fieldName
        fieldForm.querySelector('input[name="order"]').value = fieldOrder
        
        // add field to the form
        schemaFieldsDiv.appendChild(fieldForm)
    })

    let schemaForm = document.getElementById('schemaForm')
    schemaForm.addEventListener('submit', function(target) {
        // target.preventDefault()
        let fieldsData = new Array()
        for (let field of schemaFieldsDiv.children) {
            let fieldData = Object.create(null)

            let inputs = field.querySelectorAll('input')
            for (let input of inputs) {
                fieldData[input.name] =  input.value
            }

            let selects = field.querySelectorAll('select')
            for (let select of selects) {
                fieldData[select.name] =  select.value
            }

            if (Object.keys(fieldData).length) {
                fieldsData.push(fieldData)
            }
        }
        console.log(fieldsData)
        schemaForm.querySelector('#id_fields').value = JSON.stringify(fieldsData)
        schemaFieldsDiv.remove()
    })
</script>

{% endblock %}