{% extends "base.html" %}

    
{% block title %}Schema list{% endblock %}

{% block content %}
    <div class="schema-list">
    {% for schema in schemas %}
        <div class="schema">
            <h2>
                <a href="{% url 'schema:list-data' schema.id %}">{{ schema.name }}</a>
            </h2>
            <p>
                {#<a href="{% url 'schema:showdata' schema.id %}">Show</a>#}
                <a href="{% url 'schema:update' schema.id %}">Edit</a>
                <a href="{% url 'schema:delete' schema.id %}">Delete</a>
            </p>
        </div>
    {% endfor %}
    </div>
    <a href="{% url 'schema:create' %}"><button class="addSchema">Add Schema</button></a>

{% endblock %}