{% extends "base.html" %}

{% block title %}Generate for {{ schema_name }}{% endblock %}

{% block content %}
<div class="list-generated">
    {% for file in generated_data %}
        <div>
            <p>Number records</p> {{ file.num_records }}
            <p><a href="{{ file.slug }}">Load file</a></p> 
        </div>
    {% endfor %}
</div>

<div>
    <form action="{% url 'schema:generate' schema_id %}" method="POST">
        {{ row_number_form.as_p }}
        <button type="submit" id="schemaSubmitBtn">Submit</button>
    </form>
    
</div>   

{% endblock %}