{% extends "base.html" %}

    
{% block title %}Schema list{% endblock %}

{% block content %}
<div class="container">
<div class="row pt-4">
    <h2 class="col">Data schemas</h2>
    <span class="col"><a href="{% url 'schema:create' %}" class="float-end d-inline"><button class="col btn btn-primary bg-success">Add Schema</button></a></span>
</div>
    <div class="schema-list">
    {% for schema in schemas %}
        <div class="schema">
            <h2>
                <a href="{% url 'schema:datasets' schema.id %}">{{ schema.name }}</a>
            </h2>
            <p>
                {#<a href="{% url 'schema:showdata' schema.id %}">Show</a>#}
                <a href="{% url 'schema:update' schema.id %}">Edit</a>
                <a href="{% url 'schema:delete' schema.id %}">Delete</a>
            </p>
        </div>
    {% endfor %}
    </div>
</div>
{% endblock %}