{% extends "base.html" %}


{% block title %}Schema list{% endblock %}

{% block content %}

<div class="row">
    <h2 class="col">Data schemas</h2>
    <span class="col">
        <a href="{% url 'schema:create' %}" class="float-end d-inline">
            <button class="col btn btn-primary bg-success">New Schema</button>
        </a>
    </span>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Modified</th>
            <th>Actions</th>
        </tr>
    </thead>
    {% for schema in schemas %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>
            <a href="{% url 'schema:datasets' schema.id %}" class="text-decoration-none">{{ schema.name }}</a>
        </td>
        <td>{{ schema.modified }}</td>
        <td>
            <a href="{% url 'schema:update' schema.id %}" class="text-decoration-none">Edit</a>
            <a href="{% url 'schema:delete' schema.id %}" class="text-decoration-none">Delete</a>
        </td>
    </tr>
    {% endfor %}
</table>


{% endblock %}